@import url('https://fonts.cdnfonts.com/css/aok-buenos-aires');
*{
    margin: 0;
    padding: 0;
    font-family: 'AOK Buenos Aires', sans-serif;          
    box-sizing: border-box;           
}





/* prop base */
header, .logo-texto, .cont-redes, .section-dos, .features, .section-uno, .cont-skills, .cont-features{
    display: flex;
}
a{
    color: rgb(217, 219, 221);
    text-transform: uppercase;
    font-size: 13px;
}
header{
    background-color: rgb(6, 0, 1);
    justify-content: space-around;
    align-items: center;
    height: 15vh;
}
footer{
    background-color: burlywood;
}
img{
    width: 100px;
}






/* limpieza */
a{
    text-decoration: none;
}




/* clases section uno */
a{
    margin-left: 2rem;
}
.buy-now{
    border-radius: 0.5rem;
    width: 9rem;
    height: 4rem;
    color: white;
    text-transform: uppercase;
    background-color: rgb(255, 1, 79);
}
.section-uno{
    background-color: rgb(133, 125, 125);
    background-image: url("img/tomi.png");
    background-position: 40rem;
    background-size: 680px;
    background-repeat: no-repeat;
}
.img-tomy{
    border-radius: 3rem;
    width: 60px;
    height: 60px;
}
.logo-texto{
    align-items: center;
}
.tomy{
    color: rgb(217, 219, 221);
    font-size: 1.5rem;
    padding-left: 0.5rem;
    font-weight: 500;
}
.cont-section-uno{   
    height: 85vh;
    align-items: center;
    margin: 0 auto;
    width: 90%;
    display: flex;
}
.bienvenido{
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 600;
    margin-bottom: 1rem;
}
.tomas-nieva{
    font-size: 2.5rem;
    display: flex;
    flex-direction: row;
    text-transform: capitalize;
    margin-bottom: 1rem;
}
.hola-soy{
    color: rgb(255, 1, 79);
    margin-left: 1rem;   
}
.texto-uno{
    flex-basis: 70%;
    color: rgb(255, 255, 255);
}
.diseñador-web{
    font-size: 3rem;
    margin-bottom: 1rem;
}
.texto-hero{
    width: 60%;
    margin-bottom: 1rem;
}
.boton-hero{
    color: rgb(255, 1, 79);
    text-transform: uppercase;
    width: 12rem;
    height: 3rem;
    margin-bottom: 2.5rem;
    border-radius: 0.5rem;
    background-color: rgb(33, 36, 40);
    border: none;
}
.encontrate-conmigo{
    text-transform: uppercase;
    letter-spacing: 1.5px;
    margin-bottom: 1rem;
}
.cont-redes{
    display: flex;
    border: 1px solid black;
    justify-content: space-between;
    width: 14rem;
    padding: 5px;
}
.div-redes{
    border-radius: 0.5rem;
    border: 1px solid black;
    width: 3rem;
    height: 3rem;
    background-color: rgb(33, 36, 40);
}




/* clases section dos */
.section-dos{
    background-color: rgb(48, 36, 36);
    height: 110vh;
    color: rgb(195, 206, 221);
}
.imagen-dos{
    border-radius: 0.8rem;
    height: 40rem;
}
.tomidos-img{
    width: 30rem;
}
.section-dos .cont-section-dos{   
    align-items: center;
    margin: 0 auto;
    width: 90%;
    display: flex;
}
.section-dos .about-me{
    flex-direction: column;
    border: 1px solid rgb(179, 34, 34);
    flex-basis: 70%;
    padding-left: 4rem;
}
.section-dos .visita-portfolio{
    color: rgb(255, 1, 79);
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 1rem;
}
.section-dos .sobre-mi{
    font-size: 4rem;
    text-transform: capitalize;
    margin-bottom: 1rem;
}
.section-dos .texto-about{
    margin-bottom: 1rem;
}
.boton-about{
    color: rgb(255, 1, 79);
    text-transform: uppercase;
    width: 12rem;
    height: 3rem;
    margin-bottom: 2.5rem;
    border-radius: 0.5rem;
    background-color: rgb(33, 36, 40);
    border: none;
}








/* clases section skills */
.skills{
    background-color: rgb(153, 179, 226);
    border-top: 1px solid rgb(196, 207, 223);
}
.cont-skills{
    padding: 20px;
    justify-content: space-evenly;
}
.cont-skills-dos{
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
}
.conts-skills{
    width: 250px;
    border: 1px solid black;
    text-align: center;
    padding: 20px;
    border-radius: 0.5rem;
    background-color: rgb(5, 2, 2);
}
.contDos-skills{
    text-align: center;
    align-items: center;
    margin: 0 auto;
    width: 85%;
}
.visita-skills{
    color: rgb(255, 1, 79);
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 1rem;
    padding-top: 8rem;
}
.mis-skills{
    font-size: 4rem;
    text-transform: capitalize;
    margin-bottom: 1rem;
}








/* clases section features */
.features{
    background-color: rgb(147, 132, 233);
    flex-direction: column;
    height: 100vh;
}
.contDos-features{
    align-items: center;
    margin: 0 auto;
    width: 90%;
}
.caracteristicas{
    color: rgb(255, 1, 79);
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 1rem;
    padding-top: 4rem;
}
.hago-yo{
    font-size: 4rem;
    margin-bottom: 3rem;
}
.cont-features{
    justify-content: space-around;
}
.conts-features{
    border: 1px solid black;
    height: 18rem;
    padding: 3rem;
    width: 22rem;
    border-radius: 0.5rem;
}
.texto-features{
    padding-bottom: 1rem;
}
.icono{
    width: 1.8rem;
    padding-bottom: 2rem;
}






/* clases section look my project */
.look-my-proyect{
    background-color: darkgrey;
}
.cont-look{
    align-items: center;
    margin: 0 auto;
    width: 90%;
}
.mira-miproyecto{
    color: rgb(255, 1, 79);
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 1rem;
    padding-top: 4rem;
}
.mi-mejortp{
    font-size: 4rem;
    padding-bottom: 3rem;
}



/* carrusel */


.carrousel{
    width: 100%;
}

.conteCarrousel{
    width: 100%;
    height: 600px;
    overflow: hidden;
}

.itemCarrousel{
    position: relative;
    width: 100%;
    height: 100%;
}

.itemCarrouselTarjeta{
    width: 100%;
    height: 100%;
}

.itemCarrouselArrows{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px; 
}

.itemCarrouselArrows > i:hover {
    cursor: pointer;
}

#itemCarrousel-1{
    background-color: rgb(226, 50, 50);
}

#itemCarrousel-2{
    background-color: rgb(50, 200, 226);
}

#itemCarrousel-3{
    background-color: rgb(200, 226, 50);
}


.itemCarrouselArrows > a > i{
    color: white;
}








/* clases contact */
.contact{
    background-color: darkcyan;
}
.contDos-contact{
    text-align: center;
    align-items: center;
    margin: 0 auto;
    width: 90%;
}
.contacto{
    color: rgb(255, 1, 79);
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 1rem;
    padding-top: 4rem;
}
.contactate-conmigo{
    font-size: 4rem;
    text-transform: capitalize;
    margin-bottom: 1rem;
}
.cont-contact{
    display: flex;
    border: 1px solid black;
}











/* footer */
footer, .footer-links{
    display: flex;
}



/* clases imagenes */
.imagen-uno{
    border: 1px solid black;
}
.imagen-dos{
    border: 1px solid black;
}